<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Patrick Post - Application Engineer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" th:href="@{styles/css/main.css}" />
		<link rel="stylesheet" th:href="@{styles/css/font-awesome.min.css}"/>
	</head>
	<body class="is-preload">

		<div th:replace="fragments/main-components :: top">
	    </div>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Projecten</h2>
						<p>Een overzicht van mijn meest recente projecten.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<h3>Portfolio website</h3>
								</header>
								<img th:src="@{images/screenshot-portfolio.png}" width="240" height="135"/>
								<p>Technieken:</p>
								<ul>
									<li>Spring Boot (Java) met Thymeleaf</li>
									<li>Eclipse</li>
									<li>Github</li>
									<li>HTML5/CSS3 (bestaande template aangepast)</li>
								</ul>
									
								<ul class="actions fit">
									<li><a href="#" class="button primary fit">Github</a></li>
									<li><a href="#" class="button fit">Demo</a></li>
								</ul>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Sorting algorithms</h3>
								</header>
								<img th:src="@{images/screenshot-portfolio.png}" width="240" height="135"/>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								
								<ul class="actions fit">
									<li><a href="#" class="button primary fit">Github</a></li>
									<li><a href="/sortingAlgorithms?refresh=true" class="button fit">Demo</a></li>
								</ul>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Excel Belegger</h3>
								</header>
								<img th:src="@{images/screenshot-portfolio.png}" width="240" height="135"/>
								<p>Technieken:</p>
								<ul>
									<li>C#</li>
									<li>Visual Studio 2019</li>
									<li>Github</li>
								</ul>
								
								<ul class="actions fit">
									<li><a href="https://github.com/patrickDrums/ExcelBelegger" target="_blank" class="button primary fit">Github</a></li>
									<li><a href="#" class="button fit">Demo</a></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<div th:replace="fragments/main-components :: footer">
			</div>

		<!-- Scripts -->
			<script th:src="@{styles/js/jquery.min.js}"></script>
			<script th:src="@{styles/js/browser.min.js}"></script>
			<script th:src="@{styles/js/breakpoints.min.js}"></script>
			<script th:src="@{styles/js/util.js}"></script>
			<script th:src="@{styles/js/main.js}"></script>

	</body>
</html>