<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Patrick Post - Application Engineer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" th:href="@{styles/css/main.css}" />
		<link rel="stylesheet" th:href="@{styles/css/font-awesome.min.css}"/>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">Patrick Post</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Curriculum vitae</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Patrick Post</h1>
					<p>Portfolio</p>
				</div>
				<img th:href="@{images/pexels-negative-space-97077.jpg}" />
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Projecten</h2>
						<p>Een overzicht van mijn meest recente projecten.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<h3>Portfolio website</h3>
								</header>
								<img th:src="@{images/screenshot-portfolio.png}" width="240" height="135"/>
								<p>Technieken:</p>
								<ul>
									<li>Spring Boot (Java) met Thymeleaf</li>
									<li>Eclipse</li>
									<li>Github</li>
									<li>HTML5/CSS3 (bestaande template aangepast)</li>
								</ul>
									
								<ul class="actions fit">
									<li><a href="#" class="button primary fit">Github</a></li>
									<li><a href="#" class="button fit">Demo</a></li>
								</ul>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Sorting algorithms</h3>
								</header>
								<img th:src="@{images/screenshot-portfolio.png}" width="240" height="135"/>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								
								<ul class="actions fit">
									<li><a href="#" class="button primary fit">Github</a></li>
									<li><a href="/greeting" class="button fit">Demo</a></li>
								</ul>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Excel Belegger</h3>
								</header>
								<img th:src="@{images/screenshot-portfolio.png}" width="240" height="135"/>
								<p>Technieken:</p>
								<ul>
									<li>C#</li>
									<li>Visual Studio 2019</li>
									<li>Github</li>
								</ul>
								
								<ul class="actions fit">
									<li><a href="https://github.com/patrickDrums/ExcelBelegger" target="_blank" class="button primary fit">Github</a></li>
									<li><a href="#" class="button fit">Demo</a></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Wie is Patrick?</h3>
							<img th:src="@{images/small.jpg}" width="135" height="210"/>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
						</section>
						<section>
							<h4>Links</h4>
							<ul class="plain">
								<li><a href="https://www.linkedin.com/in/patrick-post-62b8b5104/" target="_blank"><i class="icon fa-linkedin">&nbsp;</i>LinkedIn</a></li>
								<li><a href="https://github.com/patrickDrums" target="_blank"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Patrick Post 2020
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src="@{styles/js/jquery.min.js}"></script>
			<script th:src="@{styles/js/browser.min.js}"></script>
			<script th:src="@{styles/js/breakpoints.min.js}"></script>
			<script th:src="@{styles/js/util.js}"></script>
			<script th:src="@{styles/js/main.js}"></script>

	</body>
</html>