<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{styles/css/main.css}" />
		<link rel="stylesheet" th:href="@{styles/css/sorting.css}" />
		<link rel="stylesheet" th:href="@{styles/css/font-awesome.min.css}"/>
	</head>
	
	<body>
	
		<div th:replace="fragments/main-components :: top">
	    </div>
	    
		<!-- Bar graph sorting -->		  
	    <section class="wrapper">
			<div class="inner">
				<header class="special">
					<h2>Sorteer Algoritme</h2>
				</header>
				<div class="highlights">
					<section>
						<div class="content">
							<div class="chart-wrap vertical">
							  	<div class="grid">
							  		<div class="bar" th:each="bar : ${bars}" th:style="'--bar-value:' + ${bar.value} + '%'"  th:title="${bar.value}"></div>   
							  	</div>
							</div>
					    </div>
					</section>
					<section>
						<div class="content">
							<ul class="actions fit">
								<li><a href="/sortingAlgorithms?refresh=true" class="button fit">Refresh</a></li>
							</ul>
							<form method="POST" th:object="${algoContainer}" th:action="@{/sortingAlgorithms}">
								<label for="sortAlgoritme">Kies aantal waarden:</label>
								<span id="demo"></span>
								<div class="slidecontainer">
  									<input th:field="*{numberOfValues}" type="range" min="1" max="100" value="100" class="slider" id="myRange">
								</div>
								<label for="sortAlgoritme">Kies een sorteer algoritme:</label>
							    <select th:field="*{algoEnum}">
								    <option th:each="algoOpt : ${T(com.example.sortingalgoriths.AlgorithmEnum).values()}"
								    	th:value="${algoOpt}" th:text="${algoOpt.description}"></option>	    
							    </select>
							    <button type="submit" name="submit" value="value" class="link-button button fit">Sorteer</button>
							</form>
					    </div>
					</section>
				</div>
			</div>
		</section>
		
		<!-- Footer -->
			<div th:replace="fragments/main-components :: footer">
			</div>
		
		<!-- Scripts -->
			<script th:src="@{styles/js/jquery.min.js}"></script>
			<script th:src="@{styles/js/browser.min.js}"></script>
			<script th:src="@{styles/js/breakpoints.min.js}"></script>
			<script th:src="@{styles/js/util.js}"></script>
			<script th:src="@{styles/js/main.js}"></script>
			
			<script>
				var slider = document.getElementById("myRange");
				var output = document.getElementById("demo");
				output.innerHTML = slider.value;
				
				slider.oninput = function() {
				  output.innerHTML = this.value;
				}
			</script>
	</body>
</html>